<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.gif">
    <title>Biogas Blower Systems</title>
    <meta
      name="keywords"
      content="Biogas Booster, Digester Gas Booster"
    />
    <meta
      name="description"
      content="Action Blower offers designing and manufacturing of Biogas Blower Systems"
    />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container w-1650px">
        <a href="index.html" class="navbar-brand">
            <img src="img/Action-blower-logo.png" alt="Action Blower logo" class="w-50">
        </a>
        <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbarCollapse" class="justify-content-end collapse phoneNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="products.html" class="nav-link">Products</a>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="gas.html" class="nav-link font-07rem">
                                Natural Gas Boost Systems
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="biogas.html" class="nav-link font-07rem">
                                Biogas Blower Systems
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="air.html" class="nav-link font-07rem">
                                Air Blower Systems
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="control-panel.html" class="nav-link font-07rem">
                                Control Panels
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="literature.html" class="nav-link">
                        Literature
                    </a>
                </li>
                <li class="nav-item">
                    <a href="company.html" class="nav-link">
                        Company
                    </a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        <div id="navbarCollapses" class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav ml-auto w-75">
                <li class="nav-item pr-4 d-inline-flex ml-auto">
                    <div class="homeImg"></div>
                    <a class="nav-link literature header-item" href="index.html" >
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown hovered pr-4 d-inline-flex">
                    <div class="blower-img"></div>
                    <a class="nav-link dropdown-toggle products header-item" id="navbarLandings" data-toggle="dropdown" href="products.html" aria-haspopup="true" aria-expanded="true">
                        Products
                    </a>
                    <div class="product-menu box-edge shadow py-0 px-0 dropdown-menu dropdown-menu-xl p-0" id="productMenuContainer">
                        <div class="row no-gutters">
                            <div class="col-6">
                                <div class="h-100 text-center">
                                    <div class="dropdown-img-left"></div>
                                    <h4 class="text-center pt-6rem text-dark">
                                        Want to see our products?
                                    </h4>
                                    <a href="products.html" class="btn btn-primary w-75 mt-3">Take a Look</a>
                                </div>
                            </div>
                            <div class="col-6 py-md-4 mt-md-3 mb-md-2">
                                <ul class="ml-0">
                                    <li class="item bullets-style-none pt-2 mb-md-4">
                                        <a href="gas.html" class="u-none">
                                            <h6 class="text-center text-primary">
                                                Natural Gas Boost Systems
                                            </h6>
                                        </a>
                                    </li>
                                    <li class="item bullets-style-none pt-2 mb-md-4">
                                        <a href="biogas.html" class="u-none">
                                            <h6 class="text-center text-primary">
                                                Biogas Blower Systems
                                            </h6>
                                        </a>
                                    </li>
                                    <li class="item bullets-style-none pt-2 mb-md-4">
                                        <a href="air.html" class="u-none">
                                            <h6 class="text-center text-primary">
                                                Air Blower Systems
                                            </h6>
                                        </a>
                                    </li>
                                    <li class="item bullets-style-none pt-2 mb-md-4">
                                        <a href="control-panel.html" class="u-none">
                                            <h6 class="text-center text-primary">
                                               Blowers, Motors, Control Panels, Accessories
                                            </h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item pr-4 d-inline-flex">
                    <div class="literatureImg"></div>
                    <a class="nav-link literature header-item" href="literature.html" >
                        Literature
                    </a>
                </li>
                <li class="nav-item pr-4 d-inline-flex">
                    <div class="companyImg"></div>
                    <a href="company.html" class="nav-link company header-item">
                        Company
                    </a>
                </li>
                <li class="nav-item pre-4 d-inline-flex">
                    <div class="phoneImg"></div>
                    <a href="contact.html" class="nav-link phone header-item">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container max-w-1440">
    <div class="row products-biogas-bg min-height-120px mt-5">
        <div class="col-md-12">
            <h1 class="text-white text-left font-weight-bold line-height-110px pl-4 py-sm-4">
                Biogas Blower Systems
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 pt-4 mt-4">
            <p class="text-left pt-4 product-font">
                Action Blower & Equipment Biogas Blower Systems employ similar technology as
                our natural gas boost systems.  Whether a complete turnkey system is needed or a
                simple gas tight blower package, we can design and build the best solution.
            </p>
            <p class="text-left pt-4 product-font">
                For higher pressure systems (over 30 PSI), we typically use a rotary vane compressor.
                The rotary vane compressor is able to handle the moisture and contamination normally
                associated with these types of gases.  These systems often include scrubbers, self-contained
                lubrication and cooling systems with full controls.
            </p>
            <p class="text-left pt-4 product-font">
                For medium pressures (over 12" water column and less than 30 PSI), we use the same tried and
                true gas tight positive displacement blowers that are used in our natural gas boost systems.
            </p>
            <p class="text-left pt-4 product-font">
                For low pressure (less than 12" water column), we offer a special version of our GT1400 constructed
                of electroless nickel plated aluminum and stainless steel construction.
            </p>
            <p class="text-left pt-4 product-font">
                <a href="contact.html" class="text-decoration-none">Contact us</a> for assistance in determining the proper size and configuration of system that will best meet your needs.
                We have many years of experience in designing systems for many different types of applications.
            </p>
            <p class="text-left pt-4 product-font">
                To better assist us in determining the best gas boost system for your application, please refer to the
                <a href="questionnaire.html" class="text-decoration-none">Gas Booster
                    Questionnaire</a> in our <a href="literature.html" class="text-decoration-none">Literature section</a>.
            </p>
            </p>
            <p class="text-left pt-4 product-font">
                Duplex and lead-lag systems are available as well as systems with remotely located control panels and many other options.
            </p>
            <img src="img/bioGas-2.jpg" alt="Biogas blower system" class="max-w-570px ml-7rem pt-4 w-318px ml-sm-3">
            <p class="imgP text-left pl-md-3">
                Biogas version of the Greenbooster Package A with Electroless Nickel <br> Plated GT1400 and all stainless system construction.
            </p>
        </div>
        <div class="col-md-5 pt-1 px-0 col-sm-12">
            <div class="container-fluid pl-almost2rem">
                <div class="row">
                    <div class="col-md-12">
                        <img src="img/bioGas-3.jpg" alt="Biogas blower system" class="max-w-570px w-318px">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="imgP text-center line-height-22px pt-4">
                                    Biogas blower packages of stainless steel construction used to move dairy farm digester gas.
                                </p>
                            </div>
                            <div class="col-md-2 py-0 products-biogas-bg min-height-105px"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img src="img/bioGas-4.jpg" alt="Biogas blower system" class="max-w-570px w-318px">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="imgP text-center line-height-22px pt-4">
                                    Rotary vane compressor system boosting digester gas 45 PSI to be used as fuel at an ethanol production facility.
                                </p>
                            </div>
                            <div class="col-md-2 py-0 products-biogas-bg min-height-105px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-gray pt-5 mt-5">
    <div class="container mt-4 pt-5 pb-5">
        <div class="row justify-content-lg-around text-center">
            <div class="col-md-4 col-sm-12">
                <h6 class="font-weight-bold text-uppercase pb-3 text-center font-gray">Contact</h6>
                <ul class="list-unstyled bm-0">
                    <li class="mb-3">
                        <p class="footer-menu-font">
                            Have questions? Contact us at <a class="text-white footer-menu-font-a" href="mailto:sales@actionblower.com">
                            sales@actionblower.com.
                        </a> We'll be happy to help!
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <h6 class="font-weight-bold text-uppercase pb-3 font-gray">products</h6>
                <ul class="list-unstyled footer-menu bm-0">
                    <li class="mb-3 footer-menu-font">
                        <a href="gas.html" class="text-reset">Natural Gas Boost Systems</a>
                    </li>
                    <li class="mb-3 footer-menu-font">
                        <a href="biogas.html" class="text-reset">Biogas Blower Systems</a>
                    </li>
                    <li class="mb-3 footer-menu-font">
                        <a href="air.html" class="text-reset">Air Blower Systems</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <h6 class="font-weight-bold text-uppercase pb-3 font-gray ">Sales Reps</h6>
                <ul class="list-unstyled footer-menu bm-0">
                    <li class="mb-3 footer-menu-font">
                        <a href="http://www.atiofny.com" class="text-reset" target="_blank">New York</a>
                    </li>
                    <li class="mb-3 footer-menu-font">
                        <a
                          href="http://www.autenergy.com"
                          class="text-reset"
                          target="_blank"
                          >Mid-Atlantic Region</a
                        >
                      </li>
                      <li class="mb-3 footer-menu-font">
                        <a
                          href="http://www.goblesampson.com/"
                          class="text-reset"
                          target="_blank"
                          >Western Region</a
                        >
                      </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container border-top pt-3">
        <div class="row justify-content-center">
            <div class="col-3 col-sm">
                <p class="text-center font-09rem footer-menu-font">
                    Designed & developed by <a href="http://serpentix.com" class="footer-menu-font">Serpentix</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
</body>
</html>