<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Action Blower</title>
    <link rel="icon" href="img/favicon.gif" />
    <meta
      name="keywords"
      content="Action Blower, Action Blower company profile, Action Blower design/build, Action Blower BBB"
    />
    <meta name="description" content="Action Blower | About Action Blower" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container w-1650px">
        <a href="index.html" class="navbar-brand">
          <img
            src="img/Action-blower-logo.png"
            alt="Action Blower logo"
            class="w-50"
          />
        </a>
        <button
          type="button"
          class="navbar-toggler navbar-toggler-right"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-expanded="true"
        >
          <span class="navbar-toggler-icon"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="navbarCollapse" class="justify-content-end collapse phoneNav">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a href="products.html" class="nav-link">Products</a>
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a href="gas.html" class="nav-link font-07rem">
                    Natural Gas Boost Systems
                  </a>
                </li>
                <li class="nav-item">
                  <a href="biogas.html" class="nav-link font-07rem">
                    Biogas Blower Systems
                  </a>
                </li>
                <li class="nav-item">
                  <a href="air.html" class="nav-link font-07rem">
                    Air Blower Systems
                  </a>
                </li>
                <li class="nav-item">
                  <a href="control-panel.html" class="nav-link font-07rem">
                    Control Panels
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="literature.html" class="nav-link">
                Literature
              </a>
            </li>
            <li class="nav-item">
              <a href="company.html" class="nav-link">
                Company
              </a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div
          id="navbarCollapses"
          class="collapse navbar-collapse justify-content-center"
        >
          <ul class="navbar-nav ml-auto w-75">
            <li class="nav-item pr-4 d-inline-flex ml-auto">
              <div class="homeImg"></div>
              <a class="nav-link literature header-item" href="index.html">
                Home
              </a>
            </li>
            <li class="nav-item dropdown hovered pr-4 d-inline-flex">
              <div class="blower-img"></div>
              <a
                class="nav-link dropdown-toggle products header-item"
                id="navbarLandings"
                data-toggle="dropdown"
                href="products.html"
                aria-haspopup="true"
                aria-expanded="true"
              >
                Products
              </a>
              <div
                class="product-menu box-edge shadow py-0 px-0 dropdown-menu dropdown-menu-xl p-0"
                id="productMenuContainer"
              >
                <div class="row no-gutters">
                  <div class="col-6">
                    <div class="h-100 text-center">
                      <div class="dropdown-img-left"></div>
                      <h4 class="text-center pt-6rem text-dark">
                        Want to see our products?
                      </h4>
                      <a href="products.html" class="btn btn-primary w-75 mt-3"
                        >Take a Look</a
                      >
                    </div>
                  </div>
                  <div class="col-6 py-md-4 mt-md-3 mb-md-2">
                    <ul class="ml-0">
                      <li class="item bullets-style-none pt-2 mb-md-4">
                        <a href="gas.html" class="u-none">
                          <h6 class="text-center text-primary">
                            Natural Gas Boost Systems
                          </h6>
                        </a>
                      </li>
                      <li class="item bullets-style-none pt-2 mb-md-4">
                        <a href="biogas.html" class="u-none">
                          <h6 class="text-center text-primary">
                            Biogas Blower Systems
                          </h6>
                        </a>
                      </li>
                      <li class="item bullets-style-none pt-2 mb-md-4">
                        <a href="air.html" class="u-none">
                          <h6 class="text-center text-primary">
                            Air Blower Systems
                          </h6>
                        </a>
                      </li>
                      <li class="item bullets-style-none pt-2 mb-md-4">
                        <a href="control-panel.html" class="u-none">
                          <h6 class="text-center text-primary">
                            Blowers, Motors, Control Panels, Accessories
                          </h6>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item pr-4 d-inline-flex">
              <div class="literatureImg"></div>
              <a class="nav-link literature header-item" href="literature.html">
                Literature
              </a>
            </li>
            <li class="nav-item pr-4 d-inline-flex">
              <div class="companyImg"></div>
              <a href="company.html" class="nav-link company header-item">
                Company
              </a>
            </li>
            <li class="nav-item pre-4 d-inline-flex">
              <div class="phoneImg"></div>
              <a href="contact.html" class="nav-link phone header-item">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 companyBg"></div>
      </div>
    </div>
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-12">
          <ul
            class="list d-inline-flex w-100 text-center mb-0 line-height-45 pl-0 companyHeadBtns"
          >
            <li
              class="item companyBtn about text-capitalize bullets-style-none w-25p border-b-3px"
              data-target=".aboutContent"
            >
              About
            </li>
            <li
              class="item companyBtn profile text-capitalize bullets-style-none w-25p"
              data-target=".companyContent"
            >
              Company profile
            </li>
            <li
              class="item companyBtn design text-capitalize bullets-style-none w-25p w-38p"
              data-target=".designContent"
            >
              Complete Design/Build Solutions
            </li>
            <li
              class="item companyBtn bbb text-capitalize bullets-style-none w-25p w-10p"
            >
              BBB
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container pt-5 mt-4 min-height">
      <div class="row justify-content-center">
        <div class="col-10 companyInfo">
          <p class="text-center display-none aboutContent active">
            Since 2004, Action Blower & Equipment has been designing and
            building blower packages for a variety of applications including gas
            and vapor recovery, wastewater treatment and tank aeration, material
            handling/pneumatic transport of powders and solids, air and gas
            boosting and circulation, parts blow-off and drying, and air
            assisted parts pick-up/hold-down.
          </p>
          <p class="text-center display-none companyContent">
            Action Blower & Equipment began as a distributor of blowers and
            blower accessories and as a packager of blower systems primarily for
            wastewater treatment and environmental remediation applications.
            Although still a packager of air blower systems, Action Blower has
            emerged as one of the leaders in the development of gas boost
            systems for natural gas and biogas. We offer a wide range of gas
            boosting technologies that cover a range of flow and pressure
            requirements. <br />
            We have developed a standard line of gas boost systems as well as
            our own GT1400 gas booster, a UL listed hermetic gas booster
            utilizing magnetically coupled technology for the safest, most
            effective solution to low pressure gas boosting applications. <br />
            Over the years, we have developed the capabilities to provide
            complete solutions including integrated controls and instrumentation
            into each system.
          </p>
          <p class="text-center display-none designContent">
            Whether you are in need of equipment with complete and thorough
            specifications or if you are not quite sure what you need, our
            applications experts will assist you to ensure you that we provide
            you with the solution that best fits your application. <br />
            Action Blower & Equipment works with many different manufacturers of
            blowers, compressors, etc. so we are not locked into trying to fit
            one particular technology into every application. With several years
            of experience designing and building for custom applications, we are
            able to apply the most suitable technology to each job. <br />
            Every blower package or system is sized and designed with the end
            user in mind. We use 3D solid modeling and CAD/CAM technology to
            ensure that our customers' requirements are met with each design.
          </p>
          <div class="text-center display-none designContent">
            <h3 class="font-weight-bold mb-4">BBB Rating: A+</h3>
            <a
              href="https://www.bbb.org/us/co/elizabeth/profile/blowers/action-blower-and-equipment-inc-0885-90016220#sealclick"
              class="bbbLink d-inline-block"
              target="_blank"
            >
              <img
                src="http://seal-denver.bbb.org/seals/blue-seal-200-42-whitetxt-bbb-90016220.png"
                class="bbbImgBg"
                alt="BBB rating"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-gray pt-5 mt-5">
      <div class="container mt-4 pt-5 pb-5">
        <div class="row justify-content-lg-around text-center">
          <div class="col-md-4 col-sm-12">
            <h6
              class="font-weight-bold text-uppercase pb-3 text-center font-gray"
            >
              Contact
            </h6>
            <ul class="list-unstyled bm-0">
              <li class="mb-3">
                <p class="footer-menu-font">
                  Have questions? Contact us at
                  <a
                    class="text-white footer-menu-font-a"
                    href="mailto:sales@actionblower.com"
                  >
                    sales@actionblower.com.
                  </a>
                  We'll be happy to help!
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 text-center">
            <h6 class="font-weight-bold text-uppercase pb-3 font-gray">
              products
            </h6>
            <ul class="list-unstyled footer-menu bm-0">
              <li class="mb-3 footer-menu-font">
                <a href="gas.html" class="text-reset"
                  >Natural Gas Boost Systems</a
                >
              </li>
              <li class="mb-3 footer-menu-font">
                <a href="biogas.html" class="text-reset"
                  >Biogas Blower Systems</a
                >
              </li>
              <li class="mb-3 footer-menu-font">
                <a href="air.html" class="text-reset">Air Blower Systems</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 text-center">
            <h6 class="font-weight-bold text-uppercase pb-3 font-gray">
              Sales Reps
            </h6>
            <ul class="list-unstyled footer-menu bm-0">
              <li class="mb-3 footer-menu-font">
                <a
                  href="http://www.atiofny.com"
                  class="text-reset"
                  target="_blank"
                  >New York</a
                >
              </li>
              <li class="mb-3 footer-menu-font">
                <a
                  href="http://www.autenergy.com"
                  class="text-reset"
                  target="_blank"
                  >Mid-Atlantic Region</a
                >
              </li>
              <li class="mb-3 footer-menu-font">
                <a
                  href="http://www.goblesampson.com/"
                  class="text-reset"
                  target="_blank"
                  >Western Region</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container border-top pt-3">
        <div class="row justify-content-center">
          <div class="col-3 col-sm-12">
            <p class="text-center font-09rem footer-menu-font">
              Designed & developed by
              <a href="http://serpentix.com" class="footer-menu-font"
                >Serpentix</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
