<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Action Blower</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container w-1650px">
        <a href="../public/index.html" class="navbar-brand">
            <img src="../public/img/Action-blower-logo.png" alt="logo" class="w-50">
        </a>
        <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbarCollapse" class="justify-content-end collapse phoneNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Products</a>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link font-07rem">
                                Natural Gas Boost Systems
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-07rem">
                                Biogas Blower Systems
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-07rem">
                                Air Blower Systems
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-07rem">
                                Control Panels
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        Literature
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        Company
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <a href="contact.handlebars" class="nav-link">
                            Contact
                        </a>
                    </a>
                </li>
            </ul>
        </div>
        <div id="navbarCollapses" class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav ml-auto w-50">
                <li class="nav-item dropdown hovered pr-4 d-inline-flex">
                    <div class=" blower-img"></div>
                    <a class="nav-link dropdown-toggle products header-item" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="true">
                        Products
                    </a>
                    <div class="product-menu box-edge shadow py-0 px-0 dropdown-menu dropdown-menu-xl p-0" id="productMenuContainer">
                        <div class="row no-gutters">
                            <div class="col-6">
                                <div class="h-100 text-center">
                                    <div class="dropdown-img-left"></div>
                                    <h4 class="text-center pt-7rem text-dark">
                                        Want to see all the products?
                                    </h4>
                                    <button class="btn btn-primary w-75 mt-3">More</button>
                                </div>
                            </div>
                            <div class="col-6 pt-2">
                                <ul>
                                    <li class="item bullets-style-none pt-3">
                                        <a href="#" class="u-none">
                                            <h6 class="text-center text-primary">
                                                Natural Gas Boost Systems
                                            </h6>
                                        </a>
                                        <p class="text-center font-07rem">
                                            Page of natual gas boost systems
                                        </p>
                                    </li>
                                    <li class="item bullets-style-none pt-3">
                                        <a href="#" class="u-none">
                                            <h6 class="text-center text-primary">
                                                Biogas Blower Systems
                                            </h6>
                                        </a>
                                        <p class="text-center font-07rem">
                                            Page of Biogas Blower Systems
                                        </p>
                                    </li>
                                    <li class="item bullets-style-none pt-3">
                                        <a href="#" class="u-none">
                                            <h6 class="text-center text-primary">
                                                Air Blower Systems
                                            </h6>
                                        </a>
                                        <p class="text-center font-07rem">
                                            Page of Air Blower Systems
                                        </p>
                                    </li>
                                    <li class="item bullets-style-none pt-3">
                                        <a href="#" class="u-none">
                                            <h6 class="text-center text-primary">
                                                Control Panels
                                            </h6>
                                        </a>
                                        <p class="text-center font-07rem">
                                            Page of Control Panels
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item pr-4 d-inline-flex">
                    <div class="literatureImg"></div>
                    <a class="nav-link literature header-item" href="#" >
                        Literature
                    </a>
                </li>
                <li class="nav-item pr-4 d-inline-flex">
                    <div class="companyImg"></div>
                    <a href="../public/company.html" class="nav-link company header-item">
                        Company
                    </a>
                </li>
                <li class="nav-item pre-4 d-inline-flex">
                    <div class="phoneImg"></div>
                    <a href="#" class="nav-link phone header-item">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container pt-5 mt-5">
    <div class="row justify-content-end">
        <div class="col-lg-6 bg-red">
            <h1 class="text-center font-weight-bold text-white line-height-14rem">
                Gas Booster Questionnaire
            </h1>
        </div>
        <div class="col-lg-6 bg-next-questions"></div>
    </div>
</div>
<div class="container pt-5 mt-5">
    <div class="row">
        <form method="POST" action="send">
            <div class="form-group col-md-12 answers">
                {{msg}}
                <label for="q1">
                    1.  What is the gas composition (e.g. natural gas, digester gas)?
                    If gas is comprised of more than one component, provide percentage of each component
                </label>
                <textarea type="text" name="message" id="q1" class="q1 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q2">
                    2.  What is the available gas pressure? (preferably in units of inches water column or PSIG)
                </label>
                <textarea type="text" name="message" id="q2" class="q2 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q3">
                    3.  What is the required gas pressure that we will need to boost to?
                </label>
                <textarea type="text" name="message" id="q3" class="q3 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q4">
                    4.  What flow rate is required (SCFM or SCFH)?  If there is a range, provide minimum and
                    maximum.  If SCFM or SCFH is not known, ask for BTU/hour rating of equipment that is being
                    supplied.  Convert BTU/hour to SCFH by dividing by 1000.  Convert to SCFM by dividing by 60.
                </label>
                <textarea type="text" name="message" id="q4" class="q4 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q5">
                    5.  Where will the gas booster be located (indoors vs. outdoors)?
                </label>
                <textarea type="text" name="message" id="q5" class="q5 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q6">
                    6.  Where will the gas booster be located in relation to equipment it is supplying “boosted”
                    gas to? (Include distance, size of pipe that is being used, and number of elbows in the pipe run.)
                </label>
                <textarea type="text" name="message" id="q6" class="q6 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q7">
                    7.  What is the equipment that is being supplied with boosted gas (e.g. boilers, burners)?
                    What is the nature of the demand (fairly steady demand vs. highly erratic demand)?
                </label>
                <textarea type="text" name="message" id="q7" class="q7 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q8">
                    8.  Is redundancy required? (Must the booster always be running even in the case of scheduled
                    maintenance or unplanned downtime?).
                </label>
                <textarea type="text" name="message" id="q8" class="q8 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q9">
                    9.  Are there any size constraints?
                </label>
                <textarea type="text" name="message" id="q9" class="q9 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q10">
                    10. Are there any noise constraints?
                </label>
                <textarea type="text" name="message" id="q10" class="q10 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q11">
                    11. What electrical power is available? (voltage and phase)
                </label>
                <textarea type="text" name="message" id="q11" class="q11 answer w-100 mb-4" contenteditable="true"></textarea>
                <label for="q12">
                    12. Are there any other special requirements?
                </label>
                <textarea type="text" name="message" id="q12" class="q12 answer w-100 mb-4" contenteditable="true"></textarea>
                <button type="submit" class="btn btn-primary w-100" id="questionSubmitBtn">Submit</button>
            </div>
        </form>
    </div>
</div>
<footer class="bg-gray pt-5 mt-5">
    <div class="container mt-4 pt-5 pb-5">
        <div class="row justify-content-lg-around text-center">
            <div class="col-lg-4 col-sm-12">
                <h6 class="font-weight-bold text-uppercase pb-3 text-center">Contact</h6>
                <ul class="list-unstyled text-muted bm-0">
                    <li class="mb-3">
                        <p>
                            Have questions? Contact us at <a href="#">
                            sales@actionblower.com.
                        </a> We'll be happy to help!
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
                <h6 class="font-weight-bold text-uppercase pb-3">products</h6>
                <ul class="list-unstyled text-muted bm-0">
                    <li class="mb-3">
                        <a href="#" class="text-reset">Natural Gas Boost Systems</a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="text-reset">Biogas Blower Systems</a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="text-reset">Air Blower Systems</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
                <h6 class="font-weight-bold text-uppercase pb-3">Sales Reps</h6>
                <ul class="list-unstyled text-muted bm-0">
                    <li class="mb-3">
                        <a href="#" class="text-reset">New York</a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="text-reset">Denver</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="../public/js/questions.js"></script>
</html>